<h1>Hello user !</h1>

<div class="container">

<div class="row">

<div class="col-md">

<form   method="POST"   action="/">
  <div class="form-group">
   
    <input type="text" class="form-control" id="exampleInputEmail1"  name="name"  placeholder="Your name">
      </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</div>

</div>
